* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

table {
  width: 99.8%;
}

#header {
  height: 8vh;
}

#menu {
  text-align: right;
}

#area1,
#area {
  height: 91vh;
}

#input-area {
  resize: none;
  width: 100%;
  height: 100%;
}
